body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
}

.app-logo {
  pointer-events: none;
  height: 32px;
  margin: 0 30px;
}

.app-header {
  background-color: #282c34;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  color: white;
}

.grid {
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 10px;
}

.board-row {
  display: flex;
}

.board-cell {
  height: 30px;
  border: 1px solid black;
  width: 30px;
  cursor: pointer;
  user-select: none;
  color: white;
  font-size: 8px;

  &.cell-filled {
    background-color: red;
  }

  &.cell-unfilled {
    background-color: blue;
  }
}
